.venv/
venv/
__pycache__/
*.pyc
*.egg-info/
.git/
.github/
.gitlab-ci.yml
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pre-commit-config.yaml
data/
secrets/
.env
.env.example
tests/
docs/
Dockerfile
docker-compose.yml
